* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;   
}

@keyframes liquidFill {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

#pipe4 {
    fill: #DCF3FF;
    mask: url(#liquidMask);
    animation: liquidFill 3s infinite;
}

#liquidMaskRect {
    width: 100%;
    height: 100%;
    fill: blue;
}